*{
    margin: 0;
    padding: 0;
}
.img-cabecalho{
    width: 100vw;
    height: 20vh;
}
.main {
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.textcentral {
    font-family: Impact, sans-serif; 
    color: rgb(2, 1, 12); 
    font-size:  40px;
}
.textbaixo {
    font-family: Arial; 
    color: rgb(69, 81, 132); 
    font-size:  20px;
}
.form-main{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.input-group {
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    margin-top: 1rem;
}

.input {
    width: 30rem;
    margin-top: 1rem;
    height: 2rem;
}

.rodape{
    text-align: center;
    margin-top: 2rem;
}

.container-link{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn{
    width: 20rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.link{
    margin-bottom: 1rem;
}

.container-imagem{
    align-items: center;
    border: solid 1px rgb(0, 0, 0);
    display: flex;
    flex-direction:column;
}

.pig-img{
    width: 15vw;
    height: 35vh;
    margin-bottom: 0rem;
}

